.footer {
  background-color: var(--mantine-color-dark_color-0);
  padding: 50px 0;

  .grid_item_1 {
    text-align: center;
    order: 2;

    @media (min-width: 991px) {
      order: 1;
      text-align: start;
    }

    .logo {
      width: 90px;
      height: 28px;
      filter: brightness(20);
      display: block;
      margin: auto;

      @media (min-width: 991px) {
        margin-left: 0;
      }
    }

    p {
      color: #5a7184;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
    }
  }

  .grid_item_2 {
    order: 1;
    @media (min-width: 991px) {
      order: 2;
    }

    h3 {
      color: #5a7184;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
    }

    a {
      text-decoration: none;
      color: #959ead;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      display: block;
      margin-top: 10px;
    }
  }

  .copy_right {
    text-align: center;
    padding-top: 50px;
    img {
      width: 56px;
      height: 56px;
      display: block;
      margin: auto;
    }
    p {
      color: #5a7184;
      font-size: 16px;
      font-style: italic;
      font-weight: 700;
    }
  }
}
